.input-containner{
    margin-right: 2%;
    margin-left: 2%;
}
form {
    padding: 3%;
}
form , .container {
    background-color: rgb(115, 115, 115);
    padding-bottom: 10px;
    
}
button{
    margin: 1% ;
}
