
  .login-container {
    display: flex;
    justify-content: center; /* centers child elements horizontally */
    align-items: center; /* centers child elements vertically */
    height: 100vh; /* sets the height of the container to the full viewport height */
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container img {
    margin: 7%;
    /* add any additional styles for the image here */
  }
  